div.wy-side-nav-search {
    background-color: #FDA03A;
}
nav.wy-nav-top {
    background: #FDA03A
}
.wy-side-nav-search input[type=text] {
    border-color: #b6b7b7
}
.wy-side-nav-search > div.version {
    visibility: hidden;
}
.ethical-rtd ethical-dark-theme {
    visibility: hidden;
}